# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
.venv/
venv/
env/

# Local state (на Render не нужен)
state.json

# Env variables
.env

# OS / IDE
.DS_Store
.idea/
.vscode/

# Logs
*.log
